---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?APPID=f7c97f3070c5f0e47d6642ed7697fdfd&q=Philadelphia
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Source:
      - redis
    body:
      encoding: UTF-8
      string: |
        {"coord":{"lon":-75.16,"lat":39.95},"weather":[{"id":701,"main":"Mist","description":"mist","icon":"50n"},{"id":741,"main":"Fog","description":"fog","icon":"50n"}],"base":"cmc stations","main":{"temp":277.33,"pressure":1013,"humidity":87,"temp_min":275.15,"temp_max":280.15},"wind":{"speed":1.5},"clouds":{"all":75},"dt":1449826860,"sys":{"type":1,"id":2359,"message":0.0043,"country":"US","sunrise":1449835940,"sunset":1449869738},"id":4560349,"name":"Philadelphia","cod":200}
  recorded_at: Fri, 11 Dec 2015 17:00:08 GMT
recorded_with: VCR 3.0.0
